// <!-- 01 HEADER -->
.header {
    height: 100px;
    line-height: 100px;
    padding: 0 2rem;
    background-color: #d5450b;
    font-size: $h5-font-size;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav { 
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
            width: 70px;
            height: 70px;
            border: 5px solid #fff;
            border-radius: 50%;
        a .fa {
            font-size: 50px;
            color: #fff;
            vertical-align: 25%;
        }
    }
    .menu {
        display: flex;
        justify-content: right;
        align-items: center;
        .menu-link {
            padding: 2rem;
            a {
                color: #fff;
            }
        }
    }
    .bread-crumb {
        display: none;
        .bar {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #fff;
            margin: 8px 0;
        }
    }
}

//media外面要有標籤包住，不然會失效
.nav {
    @media screen and (max-width: 768px) {
        .menu {
            position: fixed;
            width: 100%;
            top: 100px;
            right: -100%;
            background-color: #fff;
            flex-direction: column;
            .menu-link {
                padding: 0;
                a {
                    color: #d5450b;
                }
            }
        }
        .menu.active {
            right: 0;
        }
        .bread-crumb {
            display: block;
            cursor: pointer;
        }
        .bread-crumb.active {
            .bar:nth-child(1) {
                transform: translateY(11px) rotate(45deg);
            }
            .bar:nth-child(2) {
                opacity: 0;
            }
            .bar:nth-child(3) {
                transform: translateY(-11px) rotate(-45deg);
            }
        }
    }
}
